In [46]:
import pandas as pd
import joblib

In [8]:
interaction_df = pd.read_csv("data/user_item_interactions.csv")
interaction_df.head()

   item_id                               user_id   timestamp  click  purchase
0     6198  36c0daa2-5aad-4b0c-81e3-8d276b223573  1633082142      1         0
1      190  c9a9b40a-90ce-42c7-8b02-1301ad4914b1  1630125341      1         0
2     7330  83969882-083c-4150-b9eb-19bb3197720d  1630143229      1         0
3     8978  83969882-083c-4150-b9eb-19bb3197720d  1630143685      1         0
4     9263  83969882-083c-4150-b9eb-19bb3197720d  1630143781      1         0

In [16]:
interaction = interaction_df.copy()
interaction['purchase'] = interaction['purchase'].apply(lambda x: 2 if x==1 else 0)
interaction['rating'] = interaction['purchase'] + interaction['click']
interaction.head()

,item_id,user_id,timestamp,click,purchase,rating
0,6198,36c0daa2-5aad-4b0c-81e3-8d276b223573,1633082142,1,0,1
1,190,c9a9b40a-90ce-42c7-8b02-1301ad4914b1,1630125341,1,0,1
2,7330,83969882-083c-4150-b9eb-19bb3197720d,1630143229,1,0,1
3,8978,83969882-083c-4150-b9eb-19bb3197720d,1630143685,1,0,1
4,9263,83969882-083c-4150-b9eb-19bb3197720d,1630143781,1,0,1

In [21]:
dataset = pd.DataFrame()
dataset['user'] = interaction['user_id']
dataset['item'] = interaction['item_id']
dataset['rating'] = interaction['rating']
dataset['timestamp'] = interaction['timestamp']
dataset.head()

                                   user  item  rating   timestamp
0  36c0daa2-5aad-4b0c-81e3-8d276b223573  6198       1  1633082142
1  c9a9b40a-90ce-42c7-8b02-1301ad4914b1   190       1  1630125341
2  83969882-083c-4150-b9eb-19bb3197720d  7330       1  1630143229
3  83969882-083c-4150-b9eb-19bb3197720d  8978       1  1630143685
4  83969882-083c-4150-b9eb-19bb3197720d  9263       1  1630143781

In [68]:
dataset.to_csv('data/user_item_interactions.csv', index=False)

### N-Recommended Products

In [47]:
from surprise import KNNBaseline
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
import os
from surprise.model_selection import train_test_split
from surprise.model_selection import KFold
from surprise import SVD


reader = Reader(rating_scale=(1, 2))
data = Dataset.load_from_df(df=dataset[['user', 'item', 'rating']], reader=reader)

kf = KFold(n_splits=10)

svd = SVD()

for trainset, testset in kf.split(data):
    svd.fit(trainset)
    predictions = svd.test(testset)
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.1775
RMSE: 0.1789
RMSE: 0.1742
RMSE: 0.1774
RMSE: 0.1766
RMSE: 0.1762
RMSE: 0.1763
RMSE: 0.1747
RMSE: 0.1759
RMSE: 0.1766

In [66]:
from collections import defaultdict
import json
def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.
    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.
    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

top_n = get_top_n(predictions, n=10)
result = {}
for uid, user_ratings in top_n.items():
    result[uid] = [iid for (iid, _) in user_ratings]
with open("result.json", "w") as f:
    f.write(json.dumps(result))

In [51]:
joblib.dump(svd,'svd.joblib')

['svd.joblib']

### K-Similar Items

In [43]:
trainset = data.build_full_trainset()
sim_options = {'name': 'pearson_baseline', 'user_based': False}
knn = KNNBaseline(sim_options=sim_options)
knn.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [44]:
testset = trainset.build_testset()
predictions = knn.test(testset)
accuracy.rmse(predictions, verbose=True)

RMSE: 0.0465

0.046461337102403036

In [48]:
knn.get_neighbors(456, k=10)

[689, 735, 67, 3104, 365, 688, 2414, 3107, 6947, 1202]

In [93]:
joblib.dump(knn, 'knn.joblib')

['knn.joblib']

In [94]:
model = joblib.load('knn.joblib')
model.get_neighbors(456, k=10)

[689, 735, 67, 3104, 365, 688, 2414, 3107, 6947, 1202]

### Popular Recommended Products

In [92]:
popular_items = dataset.groupby(['item']).size().reset_index()
popular_items['count'] = popular_items[0]
popular_items.sort_values(by='count', ascending=False).head(10)
# popular_items[0]

        item     0  count
2511    2719  3409   3409
3188    3589  3081   3081
7610    8978  2867   2867
2845    3082  2612   2612
1451    1547  2075   2075
2509    2717  1842   1842
10290  13400  1569   1569
1188    1264  1489   1489
717      761  1467   1467
176      189  1458   1458

In [91]:
dataset[(dataset['item'] == 2719)]

                                        user  item  rating   timestamp
581     689e1169-d896-4523-8a97-c70649763e67  2719       1  1629074397
583     d7d13b02-7da2-475c-ba5b-698833c87ef9  2719       1  1629100051
642     689e1169-d896-4523-8a97-c70649763e67  2719       1  1629419326
1233    ef5a9bc2-fbcb-4466-a887-70dce4e7cf85  2719       1  1631925066
1295    11e464cf-31c0-4968-ae4d-188ee0aa8664  2719       1  1632423279
...                                      ...   ...     ...         ...
529308  3c4d0011-f473-44fa-9b65-e9118a51a955  2719       2  1624616329
539090  b5633cde-5f00-4e47-a1c4-01d2b4c56aff  2719       2  1635050924
550641  25670cd5-c9bf-4ec1-b532-eecdd293b812  2719       2  1635659599
551352  29396054-3374-471f-b4cd-b793750e5d41  2719       2  1636366687
555696  f952cb46-31ee-49ff-a6a5-92254aa08663  2719       2  1639470140

[3409 rows x 4 columns]

### Recommendation using Implict

In [104]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
import random
import implicit
from sklearn.preprocessing import MinMaxScaler

In [111]:
dataset_df = dataset.copy()
dataset_df.rename(columns={'rating':'event_strength'}, inplace=True)

In [148]:
dataset_transformed = dataset_df.copy()
dataset_transformed['user'] = dataset_transformed['user'].astype("category")
dataset_transformed['user_id'] = dataset_transformed['user'].cat.codes

sparse_item_user = sparse.csr_matrix((dataset_transformed['event_strength'].astype(float), (dataset_transformed['item'], dataset_transformed['user_id'])))
sparse_user_item = sparse.csr_matrix((dataset_transformed['event_strength'].astype(float), (dataset_transformed['user_id'], dataset_transformed['item'])))


model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=50)

alpha = 15
data = (sparse_item_user * alpha).astype('double')

model.fit(data)

  0%|          | 0/50 [00:00<?, ?it/s]

In [141]:
dataset_transformed.head()

,user,item,event_strength,timestamp,user_id
0,36c0daa2-5aad-4b0c-81e3-8d276b223573,6198,1,1633082142,4919
1,c9a9b40a-90ce-42c7-8b02-1301ad4914b1,190,1,1630125341,18023
2,83969882-083c-4150-b9eb-19bb3197720d,7330,1,1630143229,11813
3,83969882-083c-4150-b9eb-19bb3197720d,8978,1,1630143685,11813
4,83969882-083c-4150-b9eb-19bb3197720d,9263,1,1630143781,11813

#### Similar Items

In [138]:
item_id = 2719
n_similar = 10

user_vecs = model.user_factors
item_vecs = model.item_factors

item_norms = np.sqrt((item_vecs * item_vecs).sum(axis=1))

scores = item_vecs.dot(item_vecs[item_id]) / item_norms
top_idx = np.argpartition(scores, -n_similar)[-n_similar:]
similar = sorted(zip(top_idx, scores[top_idx] / item_norms[item_id]), key=lambda x: -x[1])

for item in similar:
    idx, score = item
    print(idx, score)

2719 1.0000001
5720 0.87037086
15838 0.8476719
22584 0.84492004
9098 0.84096164
5885 0.8357961
8698 0.83492094
2176 0.8272938
22466 0.8253766
14947 0.821198

In [170]:
def recommend(user_id, sparse_user_item, user_vecs, item_vecs, num_contents=10):
    user_interactions = sparse_user_item[user_id,:].toarray()
    user_interactions = user_interactions.reshape(-1) + 1
    user_interactions[user_interactions > 1] = 0
    rec_vector = user_vecs[user_id,:].dot(item_vecs.T).toarray()
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0]
    recommend_vector = user_interactions * rec_vector_scaled
    content_idx = np.argsort(recommend_vector)[::-1][:num_contents]
    
    items = []
    scores = []
    
    for idx in content_idx:
        items.append(idx)
        scores.append(recommend_vector[idx])

    recommendations = pd.DataFrame({'item': items, 'score': scores})

    return recommendations

user_vecs = sparse.csr_matrix(model.user_factors)
item_vecs = sparse.csr_matrix(model.item_factors)

user_id = 18023

recommendations = recommend(user_id, sparse_item_user, user_vecs, item_vecs)

print(recommendations)

    item     score
0  16534  1.000000
1   7116  0.959908
2    169  0.950384
3  21447  0.928597
4  22323  0.910530
5    325  0.898174
6   6341  0.897446
7  14359  0.894313
8  15797  0.890978
9  21660  0.876455

### LightFm Modeling

In [353]:
lf_dataset_df = dataset_df.copy()
new_products = pd.read_csv('data/catalogue.csv')
new_products_df = new_products.copy()
new_products_df.head()

,id,title,description,availability,condition,price,sale_price,link,brand,image_link
0,14521,"Oxy 10, 10gm","Oxy 10, 10gm",out of stock,new,318.00 NPR,286.20 NPR,https://jeevee.com/products?value=14521&type=d...,OXY,https://jeeveedev.s3.us-east-2.amazonaws.com/w...
1,12352,Make-Up Studio Brush Cleanser(Ph0900),Make-Up Studio Brush Cleanser(Ph0900),in stock,new,1785.00 NPR,1785.00 NPR,https://jeevee.com/products?value=12352&type=d...,MAKE-UP STUDIO,https://jeeveedev.s3.us-east-2.amazonaws.com/w...
2,11507,Buddsbuddy Silicone Orthodontic Pacifier (1pc),Buddsbuddy Silicone Orthodontic Pacifier (1pc),in stock,new,199.00 NPR,169.15 NPR,https://jeevee.com/products?value=11507&type=d...,BUDDSBUDDY,https://jeeveedev.s3.us-east-2.amazonaws.com/w...
3,12401,Make-Up Studio Cream Blusher,Colour-Rebellious Red,in stock,new,2200.00 NPR,2200.00 NPR,https://jeevee.com/products?value=12401&type=d...,MAKE-UP STUDIO,https://jeeveedev.s3.us-east-2.amazonaws.com/w...
4,14408,Set Wet Hair Gel Cool- 50 Ml,Set Wet Hair Gel Cool- 50 Ml,in stock,new,104.00 NPR,104.00 NPR,https://jeevee.com/products?value=14408&type=d...,SET WET,https://jeeveedev.s3.us-east-2.amazonaws.com/w...

In [354]:
new_products_df.rename(columns={"id":"item_id"}, inplace=True)
new_products_df = new_products_df[['item_id', 'title', 'price','brand']]
new_products_df['price'] = new_products_df['price'].str.replace(" NPR", '')
new_products_df['price'] = new_products_df['price'].str.strip()
new_products_df['price'] = new_products_df['price'].astype(float)
# new_products_df['price'] = new_products_df['price'].astype(int)
new_products_df.head()

,item_id,title,price,brand
0,14521,"Oxy 10, 10gm",318.0,OXY
1,12352,Make-Up Studio Brush Cleanser(Ph0900),1785.0,MAKE-UP STUDIO
2,11507,Buddsbuddy Silicone Orthodontic Pacifier (1pc),199.0,BUDDSBUDDY
3,12401,Make-Up Studio Cream Blusher,2200.0,MAKE-UP STUDIO
4,14408,Set Wet Hair Gel Cool- 50 Ml,104.0,SET WET

In [355]:
new_products_df[(new_products_df['item_id'] == 14534)]

Empty DataFrame
Columns: [item_id, title, price, brand]
Index: []

In [409]:
items = new_products_df.copy()
users = pd.read_csv('data/users.csv')

users_df = users.copy()
items_df = items.copy()


users_df.dropna(inplace=True)
items_df.dropna(inplace=True)

# items_df = items_df.append({'item_id':14534, "brand":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':8467, "brand":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':14780, "brand":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':14781, "brand":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':14793, "brand":"SKIN CARE", "price":3034}, ignore_index=True)

# items_df = items_df.append({'item_id':6198, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':190, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':14313, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':13480, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':9365, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':10618, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':10605, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':2772, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df = items_df.append({'item_id':14364, "category":"SKIN CARE", "price":3034}, ignore_index=True)
# items_df['item_id'].append(9263)
# items_df['category'].append("SKIN CARE")
# items_df['price'].append(3043)

# 
# items_df['item_id'].append(6198)
# items_df['category'].append("SKIN CARE")
# items_df['price'].append(3043)

# items_df['item_id'].append(190)
# items_df['category'].append("SKIN CARE")
# items_df['price'].append(3043)


dataset_df[(dataset_df['item'] == 14534)]

# items_df[(items_df['item_id'] == 12356)]

,user,item,event_strength,timestamp
39,1fa52161-8421-411f-9f18-6df6eeb31a40,14534,1,1630388273
16514,292d9b11-f606-4587-bb86-0d75a25b4a7a,14534,1,1631168632
47768,baaa2d0b-2b42-4a36-b003-3464b9e89ad4,14534,1,1633912402
49205,792a6084-acee-430f-b40d-81254107ca6f,14534,1,1630524125
49252,792a6084-acee-430f-b40d-81254107ca6f,14534,1,1630610737
106707,7823865d-abe5-4644-ac40-07192fde9cd6,14534,1,1630389679
106924,7823865d-abe5-4644-ac40-07192fde9cd6,14534,1,1631317301
110312,543f2a07-6853-4ffc-8bfd-a5c590c5decc,14534,1,1630618940
139236,9df6c9a3-c48c-41b5-aa85-f5ea8f021242,14534,1,1633205519
275322,04ce8a07-54af-4ffe-98c4-cda8de2f22f6,14534,1,1630361888
318391,3ec45f0c-6b9b-49d3-9363-165685b6530a,14534,1,1633821726
384515,96b4ffe6-54ff-4ca2-904f-518b376083b1,14534,1,1630364657
397938,8b1160fa-2bcb-46da-8669-5a562cf370a8,14534,1,1632774069

In [425]:
b = items_df['item_id'].sort_values().values
a = sorted(dataset_df['item'].unique())
data = list(set(a) - set(b))
for value in data:
    lf_dataset_df.drop(lf_dataset_df.index[lf_dataset_df['item'] == value], inplace = True)

In [389]:
from lightfm.data import Dataset

dataset = Dataset()
dataset.fit(users_df['id'].values, items_df['item_id'].values)

In [250]:
num_users, num_items = dataset.interactions_shape()
print('Num users: {}, num_items {}.'.format(num_users, num_items))

Num users: 47277, num_items 6640.

In [371]:
notYetIncluded = lf_dataset_df[~lf_dataset_df["user"].astype(str).isin(users_df["id"].astype(str))]

for index, row in notYetIncluded.iterrows():
    lf_dataset_df.drop(lf_dataset_df.index[lf_dataset_df['item'] == row['item']], inplace = True)

In [374]:
lf_dataset_df.to_csv('data/refined_user_item_interactions.csv', index=False)

In [372]:
interactions, weights = dataset.build_interactions((row['user'], row['item'], row['event_strength']) for index, row in lf_dataset_df.iterrows())

In [376]:
items_df

,item_id,title,price,brand
0,14521,"Oxy 10, 10gm",318.0,OXY
1,12352,Make-Up Studio Brush Cleanser(Ph0900),1785.0,MAKE-UP STUDIO
2,11507,Buddsbuddy Silicone Orthodontic Pacifier (1pc),199.0,BUDDSBUDDY
3,12401,Make-Up Studio Cream Blusher,2200.0,MAKE-UP STUDIO
4,14408,Set Wet Hair Gel Cool- 50 Ml,104.0,SET WET
...,...,...,...,...
14750,14534,NaN,3034.0,SKIN CARE
14751,8467,NaN,3034.0,SKIN CARE
14752,14780,NaN,3034.0,SKIN CARE
14753,14781,NaN,3034.0,SKIN CARE
14754,14793,NaN,3034.0,SKIN CARE

In [410]:
items_df['brand'] = items_df['brand'].astype('category')
items_df['brand'] = items_df['brand'].cat.codes
items_features = [(row['price'], row['brand']) for index, row in items_df.iterrows()]
items_df.head()

   item_id                                           title   price  brand
0    14521                                    Oxy 10, 10gm   318.0    321
1    12352           Make-Up Studio Brush Cleanser(Ph0900)  1785.0    264
2    11507  Buddsbuddy Silicone Orthodontic Pacifier (1pc)   199.0     57
3    12401                    Make-Up Studio Cream Blusher  2200.0    264
4    14408                    Set Wet Hair Gel Cool- 50 Ml   104.0    381

In [550]:
items_df.to_csv("data/processed_products.csv", index=False)

In [412]:
users_df.head()

                                     id  gender date_of_birth
0  179db347-97e2-4e93-97c8-e0dba4dc69ae    MALE    1983-08-03
2  d023a4f1-5b6b-4d5d-9f7a-5d7b9a4d06d4    MALE    1982-12-20
3  f157ba08-cc44-4bb7-b35e-6ab1bfd19944    MALE    1991-05-30
5  802cff98-87be-4a92-bc4e-9064241b1707    MALE    1995-07-20
6  25a3bca3-d978-4962-8a24-da295535b2aa  FEMALE    2006-01-01

In [422]:
from datetime import datetime, date
def calculate_age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

users_df['date_of_birth'] = users_df['date_of_birth'].astype('str')
users_df['age'] = users_df['date_of_birth'].apply(calculate_age)
users_df['gender'] = users_df['gender'].astype('category')
users_df['gender'] = users_df['gender'].cat.codes
user_features =  [(row['age'], row['gender']) for index, row in users_df.iterrows()]

In [481]:
dataset.fit(users_df['id'].values, items_df['item_id'].values, item_features=items_features,user_features=user_features)

In [482]:
interactions, weights = dataset.build_interactions((row['user'], row['item'], row['event_strength']) for index, row in lf_dataset_df.iterrows())

In [439]:
type(interactions)

scipy.sparse.coo.coo_matrix

In [497]:
from lightfm import LightFM

model = LightFM(learning_rate=0.05, loss='bpr')
model.fit(interactions, epochs=1000)

In [508]:
def get_similar_product(model, item_id):
    # Define similarity as the cosine of the angle
    # between the tag latent vectors
    
    # Normalize the vectors to unit length
    tag_embeddings = (model.item_embeddings.T
                      / np.linalg.norm(model.item_embeddings, axis=1)).T
    
    query_embedding = tag_embeddings[item_id]
    similarity = np.dot(tag_embeddings, query_embedding)
    most_similar = np.argsort(-similarity)[1:10]
    
    return most_similar

print(items_df[(items_df['item_id']==14408)])

similar_products = get_similar_product(model,14408)
for product in similar_products:
    print(items_df['title'][product])

   item_id                         title  price  brand
4    14408  Set Wet Hair Gel Cool- 50 Ml  104.0    381
Beardo Boar Brush
Fa Roll On Deodorant - Energy Boost, 50ml
Reizvoll Kissproof Lipistick
Note Luminous Moisturizing Foundation, 35ml Tube
Grace Deodorant Powder
Slurrp Farm Jaggery Powder, 250gm
Nacfil 600mg Tab
Golden Rose Hd Concealer High Definition
Lakme 9 To 5 Complexion Care Face Cc Cream Spf 30, 30 G

In [517]:
scores = model.predict(1000, np.arange(10))

In [518]:
np.argsort(-scores)

array([4, 3, 8, 5, 9, 7, 2, 0, 6, 1])

In [519]:
scores = model.predict(300, np.arange(10))
np.argsort(-scores)

array([4, 8, 3, 9, 0, 7, 5, 2, 1, 6])

In [535]:
scores = model.predict(1, np.arange(12000))
np.argsort(-scores)

array([ 9211, 10497,  1716, ..., 10011,  8513,  7026])

In [537]:
user_biases = model.get_user_representations()[0]
user_embeddings = model.get_user_representations()[1]
item_biases = model.get_item_representations()[0]
item_embeddings = model.get_item_representations()[1]
user1 = user_embeddings[1]
item1 = item_embeddings[1]
score = user1.dot(item1.T)
ub1 = user_biases[1]
ib1 = item_biases[1]

result = score + ub1 + ib1
predict = model.predict(1, np.arange(12000))
print(result)
print(np.argsort(-predict))

-0.33130473
[ 9211 10497  1716 ... 10011  8513  7026]

In [521]:
scores = model.predict(20000, np.arange(10))
items = np.argsort(-scores)
for item in items:
    print(items_df['title'][item])

Set Wet Hair Gel Cool- 50 Ml
Make-Up Studio Cream Blusher
The Moms Co. Natural Clay Deep Purifying Face Kit
Maange 10 Pcs Professional Makeup Brushes With Bag
Earth Rhythm Neem Comb
Buddsbuddy Silicone Orthodontic Pacifier (1pc)
Oxy 10, 10gm
Make-Up Studio Eye Collection
Amayra Naturals Hemp & Rosemary Face Wash, 100ml
Make-Up Studio Brush Cleanser(Ph0900)

In [548]:
user_mapping = dataset.mapping()[0]
item_mapping = dataset.mapping()[2]
item_mapping

{14521: 0,
 12352: 1,
 11507: 2,
 12401: 3,
 14408: 4,
 14241: 5,
 7581: 6,
 5812: 7,
 12429: 8,
 12847: 9,
 4027: 10,
 12251: 11,
 14238: 12,
 15690: 13,
 16798: 14,
 7206: 15,
 13280: 16,
 7212: 17,
 8325: 18,
 11251: 19,
 12249: 20,
 8310: 21,
 18242: 22,
 5818: 23,
 7058: 24,
 14520: 25,
 15337: 26,
 16797: 27,
 804: 28,
 12495: 29,
 15322: 30,
 17343: 31,
 1351: 32,
 1749: 33,
 13259: 34,
 13260: 35,
 14246: 36,
 8599: 37,
 13261: 38,
 2983: 39,
 13262: 40,
 14523: 41,
 14117: 42,
 856: 43,
 17967: 44,
 9511: 45,
 16195: 46,
 15902: 47,
 7890: 48,
 14229: 49,
 15899: 50,
 13607: 51,
 13608: 52,
 15696: 53,
 17964: 54,
 15698: 55,
 13609: 56,
 17965: 57,
 13618: 58,
 13619: 59,
 13685: 60,
 13631: 61,
 773: 62,
 14118: 63,
 12933: 64,
 240: 65,
 17742: 66,
 12934: 67,
 19671: 68,
 15325: 69,
 14524: 70,
 14230: 71,
 15328: 72,
 15329: 73,
 73: 74,
 15703: 75,
 15323: 76,
 18243: 77,
 14859: 78,
 14860: 79,
 14861: 80,
 4641: 81,
 15327: 82,
 13634: 83,
 13686: 84,
 19035: 85,
 13200: 86,
 15691: 87,
 14522: 88,
 15331: 89,
 15694: 90,
 15335: 91,
 15334: 92,
 7208: 93,
 9076: 94,
 9080: 95,
 17970: 96,
 11040: 97,
 1722: 98,
 7226: 99,
 13855: 100,
 2642: 101,
 13201: 102,
 19361: 103,
 1571: 104,
 18244: 105,
 5645: 106,
 15324: 107,
 12112: 108,
 14233: 109,
 171: 110,
 365: 111,
 13264: 112,
 4534: 113,
 4658: 114,
 13650: 115,
 13266: 116,
 13066: 117,
 13267: 118,
 15326: 119,
 14862: 120,
 4968: 121,
 16618: 122,
 5315: 123,
 13069: 124,
 15692: 125,
 13268: 126,
 19036: 127,
 13288: 128,
 14808: 129,
 13635: 130,
 15900: 131,
 13628: 132,
 13657: 133,
 11792: 134,
 15903: 135,
 13611: 136,
 14864: 137,
 13629: 138,
 13265: 139,
 13651: 140,
 7544: 141,
 15033: 142,
 13639: 143,
 13630: 144,
 15332: 145,
 14809: 146,
 4532: 147,
 13663: 148,
 15697: 149,
 14409: 150,
 13604: 151,
 417: 152,
 4578: 153,
 14525: 154,
 13067: 155,
 15705: 156,
 15909: 157,
 13626: 158,
 13068: 159,
 14894: 160,
 2713: 161,
 15342: 162,
 917: 163,
 13627: 164,
 14120: 165,
 14895: 166,
 18245: 167,
 17266: 168,
 13620: 169,
 12113: 170,
 9402: 171,
 14234: 172,
 17966: 173,
 13065: 174,
 13290: 175,
 13291: 176,
 13292: 177,
 13293: 178,
 13294: 179,
 14863: 180,
 12796: 181,
 14526: 182,
 14235: 183,
 15901: 184,
 13858: 185,
 13857: 186,
 19672: 187,
 14243: 188,
 462: 189,
 14239: 190,
 13632: 191,
 12098: 192,
 15353: 193,
 12099: 194,
 12100: 195,
 12101: 196,
 12102: 197,
 12103: 198,
 12093: 199,
 12094: 200,
 12095: 201,
 12096: 202,
 4793: 203,
 13: 204,
 13637: 205,
 14231: 206,
 10536: 207,
 13064: 208,
 13289: 209,
 15704: 210,
 14237: 211,
 13666: 212,
 13612: 213,
 13614: 214,
 1024: 215,
 13633: 216,
 13622: 217,
 13991: 218,
 15354: 219,
 17001: 220,
 15330: 221,
 15351: 222,
 16620: 223,
 8610: 224,
 14244: 225,
 14242: 226,
 13636: 227,
 13621: 228,
 13623: 229,
 13624: 230,
 13625: 231,
 13056: 232,
 18727: 233,
 13283: 234,
 5287: 235,
 12944: 236,
 13057: 237,
 15695: 238,
 13040: 239,
 9360: 240,
 638: 241,
 16622: 242,
 16353: 243,
 13667: 244,
 19037: 245,
 13648: 246,
 5324: 247,
 13649: 248,
 13058: 249,
 13059: 250,
 13060: 251,
 15333: 252,
 13062: 253,
 13047: 254,
 13048: 255,
 13049: 256,
 13050: 257,
 18246: 258,
 17269: 259,
 13051: 260,
 13052: 261,
 13053: 262,
 13646: 263,
 6660: 264,
 13647: 265,
 13605: 266,
 13610: 267,
 13613: 268,
 13652: 269,
 9359: 270,
 13054: 271,
 13055: 272,
 11923: 273,
 88: 274,
 13285: 275,
 14527: 276,
 12850: 277,
 13282: 278,
 13284: 279,
 13270: 280,
 13286: 281,
 13271: 282,
 13287: 283,
 14240: 284,
 13273: 285,
 13274: 286,
 13281: 287,
 4137: 288,
 17002: 289,
 8876: 290,
 15701: 291,
 13668: 292,
 15706: 293,
 15336: 294,
 13061: 295,
 14411: 296,
 13606: 297,
 15347: 298,
 12903: 299,
 14907: 300,
 13041: 301,
 19673: 302,
 13337: 303,
 13338: 304,
 17738: 305,
 12901: 306,
 12902: 307,
 15339: 308,
 7924: 309,
 13038: 310,
 7854: 311,
 18247: 312,
 13036: 313,
 14528: 314,
 13039: 315,
 17004: 316,
 17003: 317,
 17367: 318,
 13037: 319,
 970: 320,
 14131: 321,
 13035: 322,
 11910: 323,
 14247: 324,
 13638: 325,
 13616: 326,
 4923: 327,
 15907: 328,
 6656: 329,
 16096: 330,
 13653: 331,
 6814: 332,
 15699: 333,
 14129: 334,
 561: 335,
 15551: 336,
 13654: 337,
 653: 338,
 12780: 339,
 5596: 340,
 7065: 341,
 13334: 342,
 15345: 343,
 13240: 344,
 13678: 345,
 16619: 346,
 14811: 347,
 13241: 348,
 13242: 349,
 15039: 350,
 13679: 351,
 14138: 352,
 20437: 353,
 17968: 354,
 9513: 355,
 167: 356,
 14810: 357,
 13034: 358,
 2353: 359,
 13297: 360,
 13328: 361,
 16101: 362,
 13323: 363,
 12117: 364,
 1877: 365,
 14139: 366,
 2234: 367,
 17268: 368,
 13325: 369,
 13322: 370,
 14865: 371,
 13299: 372,
 13326: 373,
 15041: 374,
 4253: 375,
 13298: 376,
 17736: 377,
 15908: 378,
 13043: 379,
 13044: 380,
 13045: 381,
 13046: 382,
 13324: 383,
 8955: 384,
 19039: 385,
 3048: 386,
 637: 387,
 11156: 388,
 11133: 389,
 13321: 390,
 14248: 391,
 13660: 392,
 4918: 393,
 13296: 394,
 14132: 395,
 3073: 396,
 14530: 397,
 13661: 398,
 19042: 399,
 15042: 400,
 15359: 401,
 14127: 402,
 14128: 403,
 13243: 404,
 13327: 405,
 13992: 406,
 14529: 407,
 12223: 408,
 13864: 409,
 15343: 410,
 15365: 411,
 15707: 412,
 15708: 413,
 15363: 414,
 16621: 415,
 2263: 416,
 13111: 417,
 14910: 418,
 13123: 419,
 18248: 420,
 13670: 421,
 2377: 422,
 15910: 423,
 13317: 424,
 14250: 425,
 13318: 426,
 13319: 427,
 11154: 428,
 16097: 429,
 13090: 430,
 13341: 431,
 13300: 432,
 13301: 433,
 4559: 434,
 14007: 435,
 15344: 436,
 13302: 437,
 13303: 438,
 13330: 439,
 13331: 440,
 13366: 441,
 13367: 442,
 13368: 443,
 12647: 444,
 12648: 445,
 12667: 446,
 19674: 447,
 13994: 448,
 13095: 449,
 13332: 450,
 13995: 451,
 13329: 452,
 13316: 453,
 7231: 454,
 16098: 455,
 13275: 456,
 20438: 457,
 1158: 458,
 10377: 459,
 13238: 460,
 13239: 461,
 18728: 462,
 14125: 463,
 19040: 464,
 13671: 465,
 13276: 466,
 14136: 467,
 14531: 468,
 13277: 469,
 13278: 470,
 13279: 471,
 2: 472,
 17969: 473,
 13124: 474,
 13096: 475,
 14134: 476,
 480: 477,
 15054: 478,
 13094: 479,
 16093: 480,
 13304: 481,
 7611: 482,
 15911: 483,
 12695: 484,
 18249: 485,
 13305: 486,
 15043: 487,
 17273: 488,
 15709: 489,
 13683: 490,
 16094: 491,
 14126: 492,
 16095: 493,
 14533: 494,
 13997: 495,
 13998: 496,
 13684: 497,
 13306: 498,
 13999: 499,
 2270: 500,
 13307: 501,
 13308: 502,
 18251: 503,
 8994: 504,
 15746: 505,
 13339: 506,
 15045: 507,
 13093: 508,
 13092: 509,
 18256: 510,
 10479: 511,
 14000: 512,
 18729: 513,
 9406: 514,
 19675: 515,
 15727: 516,
 15732: 517,
 15738: 518,
 15346: 519,
 15352: 520,
 15356: 521,
 15752: 522,
 15744: 523,
 16099: 524,
 18258: 525,
 16411: 526,
 16412: 527,
 16409: 528,
 15050: 529,
 14135: 530,
 15053: 531,
 13070: 532,
 16354: 533,
 5368: 534,
 14137: 535,
 16410: 536,
 13105: 537,
 13107: 538,
 13342: 539,
 13343: 540,
 13344: 541,
 15044: 542,
 1683: 543,
 667: 544,
 17971: 545,
 13441: 546,
 2816: 547,
 8824: 548,
 13313: 549,
 13312: 550,
 18250: 551,
 15355: 552,
 16626: 553,
 13336: 554,
 12500: 555,
 15714: 556,
 15046: 557,
 15350: 558,
 14009: 559,
 12868: 560,
 12708: 561,
 19363: 562,
 13333: 563,
 20477: 564,
 16355: 565,
 13088: 566,
 14008: 567,
 19676: 568,
 13442: 569,
 19677: 570,
 14814: 571,
 4176: 572,
 8822: 573,
 8724: 574,
 17743: 575,
 13443: 576,
 2445: 577,
 14537: 578,
 14425: 579,
 12872: 580,
 13444: 581,
 12873: 582,
 12874: 583,
 12875: 584,
 13445: 585,
 4177: 586,
 15051: 587,
 10065: 588,
 14002: 589,
 14003: 590,
 14004: 591,
 12545: 592,
 14140: 593,
 14535: 594,
 14006: 595,
 13110: 596,
 13347: 597,
 13108: 598,
 13102: 599,
 13083: 600,
 13079: 601,
 13078: 602,
 13081: 603,
 13082: 604,
 13077: 605,
 13466: 606,
 13353: 607,
 12865: 608,
 13348: 609,
 13349: 610,
 12866: 611,
 13354: 612,
 13446: 613,
 13355: 614,
 13345: 615,
 9404: 616,
 13452: 617,
 13125: 618,
 15047: 619,
 17972: 620,
 14866: 621,
 13447: 622,
 13126: 623,
 13453: 624,
 12860: 625,
 20439: 626,
 14815: 627,
 13468: 628,
 12899: 629,
 13448: 630,
 15357: 631,
 13080: 632,
 9544: 633,
 13449: 634,
 12898: 635,
 15912: 636,
 12900: 637,
 14141: 638,
 13098: 639,
 13350: 640,
 9545: 641,
 12882: 642,
 12883: 643,
 13467: 644,
 12884: 645,
 13099: 646,
 13451: 647,
 13091: 648,
 19043: 649,
 13346: 650,
 15048: 651,
 19678: 652,
 13352: 653,
 13137: 654,
 13104: 655,
 13089: 656,
 9065: 657,
 15358: 658,
 16811: 659,
 13454: 660,
 2460: 661,
 15049: 662,
 15052: 663,
 17973: 664,
 14255: 665,
 12861: 666,
 17089: 667,
 12879: 668,
 11906: 669,
 15364: 670,
 89: 671,
 14142: 672,
 11876: 673,
 18252: 674,
 13472: 675,
 11306: 676,
 13106: 677,
 16103: 678,
 14816: 679,
 12334: 680,
 14868: 681,
 11146: 682,
 13115: 683,
 16358: 684,
 13473: 685,
 14817: 686,
 13469: 687,
 13470: 688,
 13112: 689,
 13113: 690,
 13114: 691,
 2473: 692,
 13116: 693,
 20440: 694,
 13471: 695,
 13118: 696,
 13119: 697,
 16403: 698,
 13474: 699,
 13475: 700,
 13476: 701,
 13477: 702,
 13478: 703,
 15715: 704,
 14145: 705,
 18738: 706,
 13479: 707,
 12880: 708,
 15717: 709,
 2528: 710,
 5268: 711,
 17747: 712,
 12862: 713,
 12876: 714,
 10498: 715,
 12867: 716,
 12717: 717,
 12718: 718,
 12719: 719,
 17274: 720,
 19679: 721,
 14423: 722,
 13455: 723,
 14144: 724,
 12877: 725,
 12878: 726,
 13397: 727,
 20478: 728,
 14143: 729,
 13356: 730,
 19362: 731,
 14803: 732,
 13463: 733,
 13357: 734,
 13456: 735,
 13866: 736,
 13382: 737,
 13384: 738,
 13383: 739,
 13379: 740,
 13380: 741,
 13381: 742,
 12863: 743,
 1143: 744,
 14011: 745,
 14012: 746,
 14424: 747,
 11158: 748,
 12186: 749,
 12187: 750,
 4924: 751,
 14551: 752,
 15913: 753,
 13134: 754,
 13457: 755,
 14428: 756,
 14256: 757,
 13458: 758,
 13459: 759,
 13462: 760,
 14820: 761,
 13461: 762,
 13464: 763,
 14541: 764,
 13133: 765,
 19044: 766,
 14819: 767,
 15060: 768,
 14538: 769,
 13460: 770,
 15716: 771,
 15718: 772,
 15723: 773,
 13465: 774,
 14548: 775,
 12893: 776,
 14146: 777,
 2185: 778,
 12889: 779,
 12697: 780,
 12698: 781,
 12699: 782,
 12869: 783,
 12890: 784,
 12892: 785,
 4553: 786,
 12895: 787,
 12730: 788,
 12731: 789,
 12732: 790,
 12733: 791,
 12870: 792,
 12734: 793,
 12735: 794,
 13396: 795,
 13395: 796,
 13391: 797,
 12896: 798,
 15914: 799,
 13392: 800,
 13385: 801,
 13386: 802,
 13387: 803,
 13388: 804,
 13359: 805,
 13360: 806,
 13361: 807,
 13362: 808,
 13363: 809,
 13364: 810,
 13365: 811,
 14013: 812,
 136: 813,
 5823: 814,
 14870: 815,
 12888: 816,
 17275: 817,
 13389: 818,
 14430: 819,
 13358: 820,
 12894: 821,
 12885: 822,
 4533: 823,
 6781: 824,
 12886: 825,
 16629: 826,
 15056: 827,
 12887: 828,
 14539: 829,
 12891: 830,
 3673: 831,
 14547: 832,
 20481: 833,
 15058: 834,
 15061: 835,
 15059: 836,
 14014: 837,
 13393: 838,
 9048: 839,
 18254: 840,
 16361: 841,
 19045: 842,
 13369: 843,
 13480: 844,
 11958: 845,
 14147: 846,
 8904: 847,
 13371: 848,
 13372: 849,
 17277: 850,
 13374: 851,
 13375: 852,
 16364: 853,
 15982: 854,
 13483: 855,
 13376: 856,
 17745: 857,
 14020: 858,
 13557: 859,
 13518: 860,
 13484: 861,
 13481: 862,
 14871: 863,
 15983: 864,
 13531: 865,
 12914: 866,
 13516: 867,
 6062: 868,
 4927: 869,
 2740: 870,
 13529: 871,
 13373: 872,
 11001: 873,
 13520: 874,
 13517: 875,
 13530: 876,
 12913: 877,
 13533: 878,
 15915: 879,
 15920: 880,
 15063: 881,
 13532: 882,
 13544: 883,
 1449: 884,
 13482: 885,
 14540: 886,
 14543: 887,
 15065: 888,
 13394: 889,
 14017: 890,
 15064: 891,
 14544: 892,
 14545: 893,
 17976: 894,
 15985: 895,
 16110: 896,
 5350: 897,
 13399: 898,
 13485: 899,
 13486: 900,
 13398: 901,
 13551: 902,
 13525: 903,
 14148: 904,
 19910: 905,
 13487: 906,
 13377: 907,
 18255: 908,
 15986: 909,
 14434: 910,
 8836: 911,
 15916: 912,
 16363: 913,
 13488: 914,
 13489: 915,
 13490: 916,
 14432: 917,
 8854: 918,
 13553: 919,
 18733: 920,
 13511: 921,
 14872: 922,
 13512: 923,
 13513: 924,
 13514: 925,
 13515: 926,
 14015: 927,
 15321: 928,
 13548: 929,
 39: 930,
 14542: 931,
 14873: 932,
 15726: 933,
 15374: 934,
 13545: 935,
 13552: 936,
 15388: 937,
 13547: 938,
 2260: 939,
 13550: 940,
 13546: 941,
 976: 942,
 13549: 943,
 15367: 944,
 6405: 945,
 13510: 946,
 14258: 947,
 20441: 948,
 1137: 949,
 16114: 950,
 13141: 951,
 13565: 952,
 7754: 953,
 18257: 954,
 13142: 955,
 13143: 956,
 13144: 957,
 14016: 958,
 15368: 959,
 13494: 960,
 14022: 961,
 13146: 962,
 12909: 963,
 13147: 964,
 15917: 965,
 12906: 966,
 12908: 967,
 13169: 968,
 17278: 969,
 13566: 970,
 15725: 971,
 13495: 972,
 13491: 973,
 13128: 974,
 14149: 975,
 12910: 976,
 13492: 977,
 14023: 978,
 13493: 979,
 14433: 980,
 12907: 981,
 5844: 982,
 16414: 983,
 16116: 984,
 14549: 985,
 13564: 986,
 13145: 987,
 13872: 988,
 15924: 989,
 15066: 990,
 15730: 991,
 12905: 992,
 14874: 993,
 14550: 994,
 11915: 995,
 19365: 996,
 14260: 997,
 15379: 998,
 15381: 999,
 ...}